services:

  bureaucrat:
    container_name: bureaucrat
    build:
      context: .
      dockerfile: ./docker/bureaucrat.Dockerfile
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      - DISCORD_TOKEN=${DISCORD_TOKEN}
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - .:/app
      - /app/node_modules
    restart: always

  postgres:
    image: postgres:18
    restart: always
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test:
        ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      start_period: 10s
      timeout: 10s
      retries: 5

volumes:
  pgdata: {}
